// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.nav{
    background: $teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    flex: 1 1 auto;
    &-wrap{
        max-width: 1920px;
    }

    &__logo, &__login{
        font-size: 24px;
        color: $white;
        font-family: $font-fam;
        text-decoration: none;
        text-align: center;
        margin: 0 auto 2rem;
        width: 100%;
        @include media-query(tab){
            margin: 0;
            width: auto;
        }
    }
    &__login{
        margin: 2rem auto 0;
        @include media-query(tab){
            margin: 0;
        }
    }
    &__list{
        padding: 0;
        margin: 0 auto;
        list-style: none;
        text-align: center;
    }
    &__item{
        display: inline-block;
        font-size: 18px;
        font-family: $font-fam;
        margin-right: 2rem;
        &:last-of-type{
            margin: 0;
        }
    }
    &__link{
        color: $white;
    }
}