@import './colors.scss';

.buttonContent{
    background-color: $lightBlue;
    color: $brown;
    font-weight: 500;
}
.mainContent {
    background-color: $softCream;
    padding: 20px;
    
}
.asideContent{
    background-color: $softBrown;
    
}
.headerContent, .footerContent{
    background-color: $cream;
}