// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

@mixin align{
    align-content: center;
    text-align: center;
    color: $white;
    font-size: 30px;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 2fr .5fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";

}
.sidebar, .footer,  .main, .header{
    @include align()
}
.header{
    grid-area: header;
    background-color: $red;
    font-weight: 100;
    margin: 0;
    padding: 20px;
    
}
.nav{
    grid-area: nav;
    background-color: $green;
    font-size: 25px;
    margin: 0;
     
    &__list{
       width: 100%;
       text-align: center;
       

    }
    &__item{
    list-style: none;
    font-weight: 300;
    display: inline-block;
    color: $white;
    padding-left: 30px;
    padding-right: 30px;
}
}

.sidebar{
    grid-area: sidebar;
    background-color: $purple;
    
}
.main{
    background-color: $orange;
    
}
.footer{
    grid-area: footer;
    background-color: $blue;
}